#chat-container { 
  flex-grow: 1;
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#chat-messages {
  overflow-y: auto;
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.chat-message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 18px;
  word-wrap: break-word;
}

.self-message {
  align-self: flex-start;
  background-color: #DCF8C6;
  margin-right: auto;
}

.other-message {
  align-self: flex-end;
  background-color: #E8E8E8;
  margin-left: auto;
}

.notification-message {
  align-self: center;
  background-color: #FFF0C4;
  font-style: italic;
  max-width: 90%;
}

#chat-input {
  bottom: 0;
  display: flex;
  border-top: 1px solid #ccc;
  width: 100%;
}

#message-input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#send-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#send-button:hover {
  background-color: #45a049;
}

#host-button, #join-button {
  margin: 10px;
  padding: 5px 10px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#host-button:hover, #join-button:hover {
  background-color: #007B9E;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2; /* Ensure it's above other elements */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* Adjusted margin for better positioning */
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* Fixed width for consistency */
  border-radius: 5px; /* Rounded corners */
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

#join-room-name {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #ccc;
}

#confirm-join {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#confirm-join:hover {
  background-color: #45a049;
}

/* Styles for error messages in the join modal */
#join-error-message {
  color: red;
  margin-top: 10px;
  display: none; /* Hidden by default */
  font-size: 14px;
}

#join-nickname,
#join-room-name {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #ccc;
}

 